body{
font-family:Arial;
text-align:center;
background:#f4f6fb;
}

.quiz{
background:white;
padding:40px;
width:500px;
margin:40px auto;
border-radius:12px;
}

.answers{
display:flex;
justify-content:space-around;
margin-top:30px;
}

.circle{
width:40px;
height:40px;
border-radius:50%;
border:none;
cursor:pointer;
}

.red{background:#ff6b6b;}
.orange{background:#ffa94d;}
.gray{background:#ced4da;}
.lightgreen{background:#69db7c;}
.green{background:#2f9e44;}

.progress-bar{
width:400px;
height:10px;
background:#e9ecef;
margin:20px auto;
border-radius:10px;
}

#progress-fill{
height:10px;
width:0%;
background:#4CAF50;
border-radius:10px;
transition:0.3s;
}